:root{
  --main-white: #ffffff;
  --main-blue: #00aeff;
  --main-navyblue: #24116a;
  --main-greenblue: #084482;
  --main-light-greenblue: #1860a8;
}

.information-contents.join-start-ng {
  padding: 2rem ;
}
.information-section {
  padding: auto;
  margin: 0;
}

.information-contents {
  color: var(--main-greenblue);
}

.join-start-ng .h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: 'Lato Black';
  color: var(--main-navyblue);
}

/*Contact Us*/
