@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*--Global--*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

:root{
  --main-white: #ffffff;
  --main-blue: #00aeff;
  --main-navyblue: #24116a;
  --main-greenblue: #084482;
  --main-light-greenblue: #1860a8;
}

html{
  font-size: 16px;
}

body {
  width: 100%;
  background-color: var(--main-white);
  font-family: 'Lato', 'sans-serif';
  font-size: 1rem;
 
  background-color: var(--main-blue);
}


/*--NavBar--*/
nav{
  background-color: var(--main-greenblue);
  color: #000000;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 0.875rem;
}

.nav-link{
  color:#000000;
  transition: 0.3s;
}

.nav-link:active, .active a{
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  color: var(--main-blue);
}
.nav-link:active:hover, .active a:hover{
  background-color: var(--main-light-greenblue);
}

.nav-link:hover{
  color: var(--main-blue);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/*--information-section--*/
.information-section {
  color: var(--main-navyblue);
  line-height: 2.25rem;
  padding-top: 5rem;
}

.information-section h1 {
  font-family: 'Lato Black', 'san-serif';
  font-size: 2.625rem;
  font-weight: 900;
  color: var(--main-navyblue);
}

.information-section h1 > .small {
  font-family: 'Lato', 'san-serif';
  color: var(--main-white);
  font-weight: 400;
  font-size: 1.5rem;
}

.information-contents .title{
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.information-contents{
  /* width: 40%; */
  margin: 2.25rem;
  padding: 4.375rem 0;
  color: var(--main-white);
}

.information-contents p{
  line-height: 1.5rem;
  margin: 1.5rem 0;
  width: 75%;
}

.btn-one {
  display: inline-block;
  text-decoration: none;
  color: var(--main-white);
  background-color: var(--main-greenblue);
  padding: 0.75rem 2.5rem;
  border-radius: 10px;
  margin: 1.75rem 0;
  transition: 0.3s;
  min-width: 180px;
  text-align: center;
  
}

.btn-one:hover {
  cursor: pointer;
  background-color: var(--main-navyblue);
  color: var(--main-white);
  text-decoration: none;
}


/*information images left*/
.start-img {
  padding: 4.375rem 0;
}


/*Footer*/


.footer-icons {
  padding: 0 0.25rem;
}

.footer-details {
  background-image: url('/images/footer-clean-bg.png') !important;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

}

footer {
  color: white; 
  background-color: var(--main-greenblue);
 
  position: relative;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem 0;
}

.curve-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.footer-img {
  position: absolute;
  left: 20%;
  top: -275px;
}

.footer-img-wrapper {
  border-radius: 5px;
  transition: 3s;
}

.footer-img-wrapper:hover {
    background-color: var(--main-light-greenblue);
    cursor: pointer;
}


.footer-top { text-align: left; }
.footer-about img.logo-footer { max-width: 196px; margin-top: 0; margin-bottom: 18px; }

.footer-contact p { 
  word-wrap: break-word; 
  margin-left: 0;
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
 }
 .footer-contact p:hover {
   margin: 5px;
  cursor: pointer;
 }

.footer-contact i { padding-right: 10px; font-size: 18px; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }

.footer-links a { 
    border: 0; 
  }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { 
    padding: 15px 0 17px 0;
    text-align: left; 
    background-color: var(--main-greenblue);
   }


.footer-copyright { padding-top: 5px; }

@media (min-width: 768px) and (max-width: 1203px) {
  footer{
    margin-top: 5rem !important;
  }
  .footer-img {
    display: none;
  }
  .curve-bg{
    display: none;
  }
  .footer-top {
    background-color: var(--main-greenblue);
  }
  .footer-about img.logo-footer { max-width: 153px; margin-top: 0; margin-bottom: 18px; }
 }

 @media screen and (max-width: 767.98px) { 
  img.d-block.mb-md-4.mb-sm-4 {
    margin-bottom: 5rem;
  }
   html {
     font-size: 14px;
   }
  .footer-img {
    display: none;
  }
  .footer-contact i > img {
    width: 4%;
  }
  .curve-bg{
    display: none;
  }
  .footer-top {
    background-color: var(--main-greenblue);
  }
  .information-contents {
    width: 100%;
    padding: 2rem 0;
    margin:2.25rem auto;
  }
  .information-contents p{
    width: 100%;
  }
  }
  
  @media (max-width: 400px) { 
    .img-grid {
      display: flex;
      flex-flow: column nowrap;
    }
   }

   